<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#cname").on("change",function(e) {
			$.ajax({
				type : "GET",
				url : "cmsg",
				data : {
					cname : $("#cname").val()
				},
				success : function(data) {
					$("#dropDownDiv").html(data);
				},
		});
	});
		
		
		$("#submitBtn").click(function(e) {
			$.ajax({
				type : "GET",
				url : "msg",
				data : {
					name : $("#username").val()
				},
				success : function(data) {
					$("#msgDiv").html(data);
				},
				error : function(result) {
					alert('error');
				}

			});
		});
	});
</script>
</head>
<body>
	<form th:action="@{/msg}">
		Enter Name:<input type="text" name="name" id="username" /> <input
			type="submit" value="Submit" id="submitBtn" />
	</form>
	<hr />
	<hr />
	<div id="dropDownDiv"></div>
	<p th:text="${msg}" />
	<p th:text="${cmsg}" />
	<div id="msgDiv"></div>
	
	<select id="cname">
		<option>-select-</option>
		<option>India</option>
		<option>USA</option>
		<option>UK</option>
	</select>
	

</body>
</html>